.bg-active{
    background-color: #E7FE29;
    color: black;
}
.bg-active:hover{
    background-color: #E7FE29;
}

@media screen and (min-width: 2000px){
    #card{
        width: 60%;
        height: 25vh;
    }
    #card2{
        margin-bottom: 15rem;
    }
    #card3{
        width: 60%;
    }
}